/*========= RESET =========*/
*{
    outline: none;

}
body {

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* HEADER */

.head {
    height: 74px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    background-color: #fff;
}

.logo{
    padding: 36px 12%; /* px for height, % for width*/
    float: left;
    background: url("../img/computacao-logo-lg.png") center center/190px no-repeat;
    font-size: 0;
    margin: 0;
}

.links{
    padding-top: 1.8%;
}

.links a {
    font-weight: 400;
    color: #051046;
}

.links a:hover {
    color: #007bff;
}

/* CAROUSEL */

.carousel-conteiner {
    width: 100%;
    height: 600px;
    z-index: -2;
}

/* CARDS */

.card-container{
    background-color: #cae1ff;
    padding-bottom: 2%;
}

.c-title{
    padding: 1%;
    text-align: center;
    background-color: #fff;
    border-bottom: 3px solid blue;
}

.card-deck {
    margin: 2% 2%;
}
.card-deck:last-child {
    margin: 0 2%;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-footer {
    height: 60px;
}

.card-footer:hover {
    background-color:  #051046; /* #007bff */
    color: white;
}

.card-footer p{
    font-size: 20px;
    font-weight: 600;
}

/* LOCALIZATION */

.local-container {   /* OLHAR COM ATENÇÃO */
    width: 100%;;
    height:500px;
    background-color: #cae1ff;
    margin-top: 2%;
}

.map {
    width:70%;
    height:400px;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
}

.phone {
    width: 30%;
    height:400px;
    float: right;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 120px;
    position: absolute;

    background-color: #051046;
}

.social {
    width: 100%;
    height: 80px;
}

.footer h4:hover {
    color: #fff;
}

.social-item {
    float: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 1%;
    margin-left: 6%;
}

.social-item:first-child {
    margin-left: 15%;
}

.fab {
    font-size: 2.5em;
}
.fab:hover {
    color: #fff;
}

.copyright {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

/* LOGIN PAGE*/

.login {
    padding-top: 5%;
    top: 50%;
    padding-bottom: 19.5%;

}


body {

    background-color: #eee;

}

.espace {
    margin: 5px;
}
.btn
{
    outline:0;
    border:none;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    box-shadow:inset 2px -3px rgba(0,0,0,0.15);
}
.btn:focus
{
    outline:0;
    -webkit-outline:0;
    -moz-outline:0;
}
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg');
    background-repeat:repeat;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
